<div>
  <%= flash[:notice] %>
</div>

 <p id="notice"></p>
<div class="container px-5 px-sm-0">
  <div class="row">
<!--部分テンプレート-->
<%= render 'books/list', book: @book_new, user: @user %>

<div class="col-md-8 offset-md-1">
    <h2>Book detail</h2>
    <table class="table">
        <tbody>
         <tr>
          <td>
             <%= link_to user_path(@book.user.id) do %>
             <%= image_tag @book.user.get_profile_image(100, 100) %><br>
             <%= @book.user.name %>
             <% end %>
          </td>
          
          <td><%= link_to @book.title, user_path(id: @book.user.id) %></td>
          <td><%= @book.body %></td>
           <% if @book.user == current_user %>
          <td><%= link_to "Edit", edit_book_path(@book.id), class: "btn btn-sm btn-success" %></td>
          <% end %>
          <% if @book.user == current_user %>
          <td><%= link_to "Destroy", book_path(@book.id), method: :delete, data: { confirm: "本当に消しますか" }, class: "btn btn-sm btn-danger" %></td>
          <% end %>
         </tr>
       </tbody>
 
    </table>
  </div>
 </div>
